.about {
    @apply
        relative
        lg:h-svh
        lg:flex
        lg:items-center
        lg:justify-center
        lg:gap-8
        pt-28
        lg:pt-32
        md:pt-28
        sm:pt-28;
}

.about::before {
    content: '';
    width: 100vw;
    background: linear-gradient(to bottom, var(--clr-gray-800) 0%, rgba(33, 37, 41, 0.25) 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 75%, 50% 100%, 0 75%);

    @apply
        absolute
        -translate-x-1/2
        -translate-y-1/2
        h-full
        top-1/2
        left-1/2
        -z-10;
}

.about::after {
    content: 'AW';
    width: 100vw;
    color: rgba(33, 37, 41, .3);
    font-size: 28rem;

    @apply
        absolute
        -translate-x-1/2
        -translate-y-1/2
        w-full
        h-full
        top-1/2
        left-1/2
        flex
        items-center
        justify-center
        -z-10;
}

.about-img {
    @apply
        lg:w-3/6
        md:w-full
        sm:w-full
        flex
        items-center
        justify-center;
}

.about-img img {
    @apply
        w-10/12;

    animation: fadeIn .8s ease-in-out, rightTranslateIn .8s ease-in-out;
}

.about-desc {
    @apply
        mt-6
        lg:w-3/6
        lg:mt-0
        md:w-full
        md:mt-6
        sm:w-full
        sm:mt-8;
}

.about-desc .name {
    color: var(--clr-blue-500);

    @apply
        text-3xl
        text-center
        lg:text-5xl
        md:text-3xl
        sm:text-2xl
        lg:text-left
        md:text-center
        font-black;

    animation: fadeIn .8s ease-in-out, leftTranslateIn .8s ease-in-out;
}

.about-desc .hash-tag {
    color: var(--clr-gray-600);

    @apply
        text-center
        text-xl
        lg:text-3xl
        md:text-2xl
        sm:text-2xl
        lg:text-left
        md:text-center
        font-bold
        mt-6;

    animation: fadeIn .8s ease-in-out, leftTranslateIn .8s ease-in-out;
}

.about-desc .title {
    @apply
        text-center
        lg:text-2xl
        md:text-xl
        sm:text-xl
        lg:text-left
        md:text-center
        font-semibold
        mt-6;

    animation: fadeIn .8s ease-in-out, leftTranslateIn .8s ease-in-out;
}

.about-desc .content {
    @apply
        text-center
        lg:text-2xl
        md:text-xl
        sm:text-xl
        lg:text-left
        md:text-center
        font-medium
        leading-normal
        mt-4
        flex
        flex-col
        gap-2;

    animation: fadeIn .8s ease-in-out, leftTranslateIn .8s ease-in-out;
}

.skill {
    @apply
        mt-10
        flex
        items-stretch
        justify-center
        gap-6;
}

.skill-tag:not(:first-child) {
    @apply
        mt-6;
}

.skill-tag .skill-title {
    @apply
        mt-0
        text-xl
        lg:text-2xl
        md:text-2xl
        sm:text-2xl
        font-semibold;

    animation: fadeIn .8s ease-in-out;
}

.skill-tag .skill-content {
    @apply
        mt-4
        flex
        flex-wrap
        flex-row
        gap-5;

    animation: fadeIn .8s ease-in-out;
}

.skill-tag .skill-content .skill-icon {
    @apply
        w-6
        h-6
        lg:w-9
        md:w-9
        sm:w-9
        lg:h-9
        md:h-9
        sm:h-9;
}

.skill-tag .skill-content .skill-icon img {
    @apply
        w-full
        h-full;
}

.feature-projects .title {
    @apply
        text-3xl
        font-medium
        mt-14
        mb-8;
}

.marquee {
    border-color: var(--clr-blue-800);

    @apply
        font-semibold
        w-full
        mt-2
        p-4
        border-2
        border-solid
        rounded-xl
        box-border
        overflow-hidden;

    animation: fadeIn .8s ease-in-out, downTranslateIn .8s ease-in-out;
}
  
.marquee-inner {
    @apply
        w-fit;

    animation: marquee 10s linear infinite;
}
  
.marquee p {
    @apply
        whitespace-nowrap;
}

.services {
    @apply
        relative;

    animation: fadeIn .8s ease-in-out, downTranslateIn .8s ease-in-out;
}

.services .wave {
    width: 150vh;
    height: 150vh;
    border-radius: 43%;

    @apply
        absolute
        -translate-x-1/2
        -translate-y-1/2
        opacity-30
        -z-10;
}

.container > .services > .wave:nth-child(1) {
    top: 0;
    left: 50%;
    background-color: var(--clr-blue-900);
    animation: wave-animation 10s infinite linear;
}

.container > .services > .wave:nth-child(2) {
    top: 0;
    right: 50%;
    background-color: var(--clr-gray-800);
    animation: wave-animation 10s infinite linear;
}

.services .title {
    @apply
        text-3xl
        font-medium
        mt-14
        mb-8;
}

.services .service-list .service-item {
    border-color: var(--clr-blue-900);

    @apply
        text-2xl
        font-semibold
        w-fit
        text-center
        p-8
        border-2
        border-solid
        rounded-xl;
}

.function-block {
    @apply
        flex-wrap
        text-2xl
        flex
        justify-center
        gap-4
        lg:mt-16
        pt-8
        pb-8
        md:flex-wrap
        sm:flex-wrap;
}

.function-block .function-item {
    border-color: var(--clr-blue-900);

    @apply
        w-full
        text-2xl
        p-6
        border-2
        border-solid
        rounded-xl
        relative
        overflow-hidden
        lg:w-lg-gap-three
        md:w-md-gap-half
        sm:w-md-gap-half;

    transition: border .5s ease-in-out, color .5s ease-in-out;
    animation: fadeIn .8s ease-in-out, downTranslateIn .8s ease-in-out;
}



.function-block .function-item.col-2 {
    @apply
        lg:w-lg-gap-half
        md:w-full
        sm:w-full;
}

.function-block .function-item:hover {
    border-color: var(--clr-blue-300);
}

.function-block .function-item .title {
    @apply
        text-2xl
        font-semibold;
}

.function-block .function-item.map {
    @apply
        min-h-80;
}

.function-block .function-item.personality .description {
    @apply
        lg:text-4xl
        md:text-3xl
        sm:text-2xl
        font-extrabold
        mt-6
        lg:leading-relaxed
        md:leading-loose;
}

.fade-in {
    @apply
        opacity-100;

    animation: fadeIn .8s ease-in-out, upTranslateIn .8s ease-in-out;
}

/* -------- Animation -------- */
@keyframes wave-animation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes marquee {
    from {
        margin-left: calc(100% + 1rem);
    }
    to {
        margin-left: -30rem;
    }
}
