.about {
    width: calc(100vw - 16vw);
    height: calc(100vh - 3em);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.about-img {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-img img {
    width: 115%;
    animation: fadeIn .8s ease-in-out, rightTranslateIn .8s ease-in-out;
}

.about-desc {
    font-family: "Noto Sans TC", sans-serif;
    width: 50%;
}

.about-desc .name {
    font-weight: 900;
    font-size: 42px;
    color: var(--clr-blue-500);
    animation: fadeIn .8s ease-in-out, leftTranslateIn .8s ease-in-out;
}

.about-desc .hash-tag {
    font-weight: 700;
    font-size: 28px;
    color: var(--clr-gray-600);
    margin-top: 0.5em;
    animation: fadeIn .8s ease-in-out, leftTranslateIn .8s ease-in-out;
}

.about-desc .title {
    font-size: 26px;
    font-weight: 600;
    margin-top: 0.75em;
    animation: fadeIn .8s ease-in-out, leftTranslateIn .8s ease-in-out;
}

.about-desc .content {
    font-size: 24px;
    font-weight: 500;
    margin-top: 0.75em;
    line-height: 1.75em;
    display: flex;
    flex-direction: column;
    animation: fadeIn .8s ease-in-out, leftTranslateIn .8s ease-in-out;
}

.skill-block {
    margin-top: 1em;
    padding: 0.5em 0.5em 0.75em 0.5em;
    display: flex;
    gap: 1em;
    flex-direction: column;
    border: 3px var(--clr-blue-300) solid;
    border-radius: 15px;
    animation: fadeIn .8s ease-in-out, leftTranslateIn .8s ease-in-out;
}

.skill {
    font-family: 'Oswald', sans-serif;
    margin-top: 2em;
    display: flex;
    gap: 1em;
    align-items: stretch;
    justify-content: center;
}

.skill-tag .skill-title {
    margin-top: 0;
    font-size: 20px;
    font-weight: 800;
    animation: fadeIn .8s ease-in-out;
}

.skill-tag .skill-content {
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1em;
    animation: fadeIn .8s ease-in-out;
}

.skill-tag .skill-content .skill-icon {
    width: 1.25em;
    height: 1.25em;
}

.skill-tag .skill-content .skill-icon img {
    width: 100%;
    height: 100%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes upTranslateIn {
    from {
        transform: translateY(20px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes downTranslateIn {
    from {
        transform: translateY(-20px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes leftTranslateIn {
    from {
        transform: translateX(20px);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes rightTranslateIn {
    from {
        transform: translateX(-20px);
    }
    to {
        transform: translateX(0);
    }
}

.pined-projects {
    font-family: "Noto Sans TC", sans-serif;
}

.pined-projects .title {
    font-family: 'Oswald', sans-serif;
    font-size: 34px;
    font-weight: 400;
    margin-top: 2em;
    margin-bottom: 1em;
}

.pined-projects .projects-content {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.pined-projects .project {
    font-size: 24px;
    height: 25em;
    max-width: calc(50% - 4em);
    padding: 1.5em;
    border: 3px var(--clr-blue-900) solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-20px);
}

.pined-projects .project:hover {
    border: 3px var(--clr-blue-300) solid;
}

.pined-projects .project:hover > .cover-img img {
    width: calc(100% + 6em);
    transition: width .5s ease-in-out;
}

.pined-projects .project.fade-fade-in {
    opacity: 1;
    transform: translateY(0);
    transition: all .8s ease-in-out;
}

.pined-projects .project .project-title {
    font-size: 28px;
    font-weight: 800;
}

.pined-projects .project .project-desc {
    font-size: 20px;
    overflow-wrap: anywhere;
    font-weight: 400;
    margin-top: 0.5em;
}

.pined-projects .project .link {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-top: 0.5em;
}

.pined-projects .project .cover-img {
    position: relative;
    margin-top: 6em;
    width: 100%;
    height: 12em;
    flex: 1;
}

.pined-projects .project .cover-img img {
    position: absolute;
    transform: translate(-50%, 0);
    width: calc(100% + 3em);
    bottom: -15%;
    left: 50%;
    transition: width .5s ease-in-out;
}

.fade-in {
    opacity: 1;
    animation: fadeIn .8s ease-in-out, upTranslateIn .8s ease-in-out;
}
