.footer {
    color: var(--clr-gray-600);
    border-color: var(--clr-gray-800);

    @apply
        absolute
        -translate-x-1/2
        w-screen
        left-1/2
        bottom-0
        lg:text-2xl
        md:text-base
        sm:text-sm
        text-sm
        font-medium
        mt-16
        border-solid
        border-t-4
        flex
        items-center
        justify-between
        pt-7
        pb-7
        lg:pl-8
        lg:pr-8
        pl-4
        pr-4;
}

.footer .link-content {
    @apply
        flex
        items-center
        lg:gap-8
        md:gap-6
        gap-4;
}

.footer .icon-circle {
    color: var(--clr-blue-800);
    background-color: var(--clr-gray-500);
    border-color: var(--clr-gray-500);

    @apply
        lg:w-10
        lg:h-10
        md:w-8
        md:h-8
        w-6
        h-6
        rounded-full
        border-solid
        border-2
        flex
        items-center
        justify-center
        cursor-pointer;
}

.footer .icon-circle:hover {
    color: var(--clr-blue-300);
    background-color: var(--clr-gray-900);
    border-color: var(--clr-blue-300);
}
