#header {
    @apply 
        lg:w-full
        md:w-full
        w-11/12
        h-14
        lg:h-20
        md:h-14
        sm:h-14
        absolute
        top-6
        left-2/4
        -translate-x-1/2 
        translate-y-0
        not-italic 
        text-base 
        font-medium
        bg-gray-100
        px-2
        rounded
        z-50;
    
    animation: headerFadeIn .8s ease-in-out, headerTranslateIn .8s ease-in-out;
}

@keyframes headerFadeIn {
    from {
        @apply opacity-0;
    }
    to {
        @apply opacity-100;
    }
}

@keyframes headerTranslateIn {
    from {
        @apply top-0;
    }
    to {
        @apply top-4;
    }
}

#header .logo {
    @apply 
        h-full 
        float-left;
}

#header .link {
    @apply
        hidden
        lg:flex
        md:hidden
        sm:hidden
        h-full 
        float-right 
        text-base
        lg:text-2xl
        md:text-xl
        sm:text-xl
        text-gray-600
        mr-4
        items-center
        gap-6
        cursor-pointer;
}
