.project-list .project {
    border-color: var(--clr-blue-900);
    transform: translateY(-20px);

    @apply
        relative
        text-2xl
        lg:w-5/12
        md:w-5/12
        sm:w-full
        w-full
        pt-6
        flex
        flex-col
        justify-around
        border-solid
        border-2
        rounded-xl
        opacity-0
        overflow-hidden
        transition-all
        duration-700
        cursor-pointer;
}

.project-list .project:hover {
    border-color: var(--clr-blue-300);
}

.project-list .project.fade-fade-in {
    @apply
        opacity-100
        translate-y-0;
}

.project-list .project .project-title {
    @apply
        lg:text-2xl
        md:text-xl
        sm:text-xl
        text-xl
        font-extrabold
        pl-6
        pr-6;
}

.project-list .project .project-desc {
    @apply
        lg:text-lg
        md:text-base
        sm:text-base
        text-base
        font-normal
        break-normal
        mt-3
        pl-6
        pr-6;
}

.project-list .project .link {
    @apply
        lg:text-xl
        md:text-lg
        sm:text-lg
        text-lg
        font-medium
        mt-3
        pl-6
        pr-6
        cursor-pointer;
}

.project-list .project .cover-img {
    width: 120%;
    transform: translateX(-10%);

    @apply
        2xl:h-96
        xl:h-80
        lg:h-64
        md:h-48
        sm:h-48
        h-48;
}

.project-list .project .cover-img img {
    width: 90%;

    @apply
        absolute
        -translate-x-1/2
        left-1/2
        -bottom-4
        transition-all
        duration-700;
}

.project-list .project-content .project:hover > .cover-img img {
    width: 100%;
}
