@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .w-lg-gap-half {
        width: calc((100% - 2rem) / 4 * 2);
    }

    .w-lg-gap-three {
        width: calc((100% - 2rem) / 4 * 1);
    }

    .w-md-gap-half {
        width: calc((100% - 1rem) / 2);
    }

    .w-2-full {
        width: 200%;
    }

    .h-lg-carousel {
        height: 45rem;
    }

    .w-lg-carousel-slide {
        width: calc(50% - 20rem);
    }

    .h-lg-carousel-slide {
        height: calc(50% - 3rem);
    }

    .w-lg-carousel-slide-active {
        width: 60rem;
    }

    .h-lg-carousel-slide-active {
        height: calc(100% - 3rem);
    }

    .h-md-carousel-slide {
        height: 30rem;
    }

    .h-base-carousel-slide {
        height: 31rem;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

:root {
    --clr-black: #000000;
    --clr-white: #ffffff;
    --clr-gray-100: #f8f9fa;
    --clr-gray-200: #e9ecef;
    --clr-gray-300: #dee2e6;
    --clr-gray-400: #ced4da;
    --clr-gray-500: #adb5bd;
    --clr-gray-600: #6c757d;
    --clr-gray-700: #495057;
    --clr-gray-800: #343a40;
    --clr-gray-900: #212529;

    --clr-blue-100: #ebf8ff;
    --clr-blue-200: #bee3f8;
    --clr-blue-300: #90cdf4;
    --clr-blue-400: #63b3ed;
    --clr-blue-500: #4299e1;
    --clr-blue-600: #3182ce;
    --clr-blue-700: #2b6cb0;
    --clr-blue-800: #2c5282;
    --clr-blue-900: #2a4365;

    --clr-primary: var(--clr-blue-500);
    --clr-secondary: var(--clr-gray-600);
    --clr-success: #28a745;
    --clr-danger: #dc3545;
    --clr-warning: #ffc107;
    --clr-info: var(--clr-blue-400);
    --clr-light: var(--clr-gray-100);
    --clr-dark: var(--clr-gray-900);

    --clr-brand-primary: var(--clr-blue-700);
    --clr-brand-secondary: var(--clr-gray-700);
    --clr-brand-accent: #ffdd57;
    --clr-text-primary: var(--clr-gray-900);
    --clr-text-secondary: var(--clr-gray-700);
    --clr-background-primary: var(--clr-white);
    --clr-background-secondary: var(--clr-gray-100);
}

body {
    background-color: var(--clr-dark);

    @apply
        m-0
        overflow-x-hidden;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body.no-scroll {
    @apply overflow-hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:lang(en) {
    font-family: 'Oswald', sans-serif;
}

:lang(zh) {
    font-family: 'Noto Sans TC', sans-serif;
}

#root {
    color: var(--clr-light);

    @apply
        min-h-svh
        overflow-hidden;
}

#root .container {
    @apply
        relative
        min-h-screen
        mx-auto
        pl-8
        pr-8
        xl:pl-0
        xl:pr-0
        2xl:pl-0
        2xl:pr-0
        md:pl-10
        md:pr-10
        pb-32;
}

/* -------- Animation -------- */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes upTranslateIn {
    from {
        transform: translateY(20px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes downTranslateIn {
    from {
        transform: translateY(-20px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes leftTranslateIn {
    from {
        transform: translateX(20px);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes rightTranslateIn {
    from {
        transform: translateX(-20px);
    }
    to {
        transform: translateX(0);
    }
}
